@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Global style */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    max-width: 1500px;
    margin: 0.005rem auto;
    background-color: #eaefec;
    font-family: "Varela Round", sans-serif;
    text-align: center;
}

.logo {
    height: 12rem;
    width: auto;
}

h1 {
    font-size: 4rem;
    color: #681343;
    padding: 2rem;
    letter-spacing: 0.1rem;
}

.game-area {
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
    width: 1300px;
    margin: 0 auto;
}

.game-card {
    width: 210px;
    height: 210px;
    background-color: #9eb176;
    border-radius: 1rem;
}