@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Global style */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    max-width: 1500px;
    margin: 0.005rem auto;
    background-color: #eaefec;
    font-family: "Varela Round", sans-serif;
    text-align: center;
}

.logo {
    height: 12rem;
    width: auto;
    margin-bottom: 1rem;
}

h1 {
    font-size: 4rem;
    color: #681343;
    padding: 2rem;
    letter-spacing: 0.1rem;
}

.game-area {
    background-color: #9eb176;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 1500px;
    height: 1000px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
}

/* 
.game-card {
    width: 210px;
    height: 210px;
    position: relative;
} */

.back-card {
    background-color: #681343;
    position: relative;
}

.front-card {
    position: relative;
}

.front-card,
.back-card {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}